<ul id="news"></ul>

<div class="col-md-12 text-center" id="load_more_wrapper">
  <button type="button" class="btn btn-info btn-lg" id="load_more">
    Load More
    <i class="fa fa-refresh fa-spin" id="spinner"></i>
  </button>
</div>

<script type="text/html" id="news_tmpl">
  <li class="col-lg-4 col-md-6 col-sm-6 col-xs-6" style="background-image: url({{ image_src }});">
    <div class="heading">
      <span class="date">{{ date }}</span>
      <a href="/news/{{ slug }}" class="title">{{ label }}</a>
    </div>
  </li>
</script>